<div class="stats-card-content">
  <div class="stats-card">
    <div class="stats-card-icon">
      ⏱️
    </div>
    <div class="stats-card-header">
      <p>HORAS TRABALHADAS (MÊS)</p>
    </div>
    <div class="stats-card-content">
      <span>{{ horasTrabalhadasMes() | number:'1.1-1' }}H</span>
    </div>
  </div>

  <div class="stats-card">
    <div class="stats-card-icon">
      📋
    </div>
    <div class="stats-card-header">
      <p>ATIVIDADES REGISTRADAS</p>
    </div>
    <div class="stats-card-content">
      <span>{{atividades().length}}</span>
    </div>
  </div>

  <div class="stats-card">
    <div class="stats-card-icon">
      🏢
    </div>
    <div class="stats-card-header">
      <p>EMPRESAS ATIVAS</p>
    </div>
    <div class="stats-card-content">
      <span>{{empresas().length}}</span>
    </div>
  </div>

  <div class="stats-card">
    <div class="stats-card-icon">
      📈
    </div>
    <div class="stats-card-header">
      <p>PRODUTIVIDADE (MÉDIA/DIA)</p>
    </div>
    <div class="stats-card-content">
      <span>{{ produtividade() | number:'1.1-1' }}H</span>
    </div>
  </div>
</div>
