.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  width: 250px;
  height: 100vh;
  background: #2c3e50;
  color: white;
  padding: 20px;
  overflow-y: auto;
}

.app-name {
  font-size: 1.5rem;
  font-weight: bold;
  margin-left: 10px;
  font-weight: bold;
}

.sidebar-menu {
  list-style: none;
  padding: 0;
  margin-right: 0;
}

.sidebar-menu li {
  margin-bottom: 10px;
}

.sidebar-menu a {
  color: rgb(255, 255, 255, 0.7);
  text-decoration: none;
  padding: 12px 15px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  gap: 10px;
  transition: all 0.3s;
  cursor: pointer;
}

.sidebar-menu a:hover,
.sidebar-menu a.active {
    background: #667eea;
    color: white;
}

.sidebar-item {
  font-size: 1.1rem;
}
