<aside class="slidebar">
  <div class="slidebar-header">
    <mat-icon style="font-size: 28px;" class="material-symbols-outlined">event_available</mat-icon>
    <span class="app-name">Report Diário</span>
  </div>
  <ul class="slidebar-menu">
    <li class="slidebar-item">
      <mat-icon class="material-symbols-outlined">leaderboard</mat-icon>
      <span>DashBoard</span>
    </li>

    <li class="slidebar-item">
      <mat-icon class="material-symbols-outlined">work_history</mat-icon>
      <span>Atividades</span>
    </li>

    <li class="slidebar-item">
      <mat-icon class="material-symbols-outlined">corporate_fare</mat-icon>
      <span>empresas</span>
    </li>
  </ul>
</aside>
